---
import "@fontsource/imbue";
import "../styles/global.css";
import Header from "../components/navigation.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- TODO meta tag here -->
    </head>
    <body class="w-full">
        <Header />
        <main class="min-h-screen">
            <slot />
        </main>
        <footer class="px-4 py-18 border-t border-t-zinc-100 bg-zinc-50">
            <div class="space-y-6 mx-auto container">
                <h6 class="text-sm font-light">Nazri Store</h6>
                <p class="text-xs text-zinc-400">
                    <span>
                        Tennis Supply is a directory of selected tennis things.
                    </span>
                    <br />
                    <span>
                        Explore a curated selection of places, routes, stores,
                        and gear.
                    </span>
                </p>
                <p class="text-xs font-medium text-zinc-800">
                    Copyright © 2025
                </p>
            </div>
        </footer>
    </body>
</html>
